/*@use './utilities/extends';
@use './utilities/mixins';
@use './layout/header';
@use './layout/secciones';*/
#menu, #menu-home, .botones, .contenedor-principal-dias, .container-producto, .contador, .modo-distribuidor #cantidad-carrito, .modo-distribuidor .container-producto-carrito .producto-cantidad .btn-mas-menos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MAIN - INDEX*/
main {
  display: flex;
  flex-direction: column;
  height: auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  margin: 0.5rem;
  border: 0.2rem solid #3d3a3a;
  border-radius: 0.7rem;
  position: relative;
  z-index: 3;
  overflow: hidden;
  gap: 2rem;
}

.cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  gap: 0.5rem;
  height: 3rem;
  border-bottom: 0.2rem solid #3d3a3a;
}

.circulo {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #3d3a3a;
}

.container-audio {
  display: flex;
  align-items: center;
}

.audio {
  height: 2.2rem;
  padding-left: 2rem;
}

.contenido-principal {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: -2rem;
}

#menu, #menu-home {
  flex: 1;
  flex-direction: column;
}
#menu h1, #menu-home h1 {
  font-family: "Jersey 10", sans-serif;
  font-size: 2.5rem;
}

.limon-titulo {
  height: 2rem;
}

.botones {
  flex-direction: column;
  margin-top: 1rem;
}

.boton-menu {
  font-family: "Chivo Mono", monospace;
  background-color: #FAF4E6;
  text-decoration: none;
  color: #1e1e1e;
  margin: 0.5rem;
  padding: 0.3rem 2rem;
  border: 0.1rem solid #3d3a3a;
  border-radius: 3rem;
}

.imagen-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

#tienda-jugos {
  width: 80%;
  height: fit-content;
  padding-bottom: 3rem;
}

.arbolUno {
  height: 55%;
  width: auto;
  padding-left: 31%;
}

.cielo, .cesped {
  position: fixed;
  z-index: 1;
}

#arbolDos {
  z-index: 2;
  position: fixed;
  bottom: 10rem;
  height: 18rem;
  right: 9rem;
}

.cielo {
  top: 0;
  right: 0;
}

.cesped {
  bottom: 0;
  left: 0;
  width: 132%;
  height: 13rem;
}

.border-top, .border-bottom {
  --bs-border-width: .2rem;
  --bs-border-color: #3d3a3a;
}

/*MAIN - Dia*/
.contenedor-principal-dias {
  flex: 1;
}

.imagen-sol {
  height: 3rem;
}

/*Home*/
#popup, #segundaSeccion {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FAF4E6;
  width: 80%;
  padding: 2rem;
  border: 0.2rem solid #3d3a3a;
  border-radius: 1rem;
  z-index: 4;
  visibility: visible;
}

#popup.desactive, #segundaSeccion.desactive, .grid-carrito.desactive {
  visibility: hidden;
  display: none;
}

.personaje-popup {
  height: 6rem;
  left: 0;
  position: absolute;
  bottom: 12rem;
}

.bru {
  visibility: visible;
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.form-nombre {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-nombre input {
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid #3d3a3a;
}
.form-nombre button {
  border: none;
  background-color: #8B4C27;
  color: #FAF4E6;
  width: 60%;
  padding: 0.7rem 0.3rem;
  border-radius: 2rem;
}

.container-moneda {
  padding-right: 1rem;
}
.container-moneda p {
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#moneda {
  height: 2.2rem;
}

#menu-home {
  gap: 4rem;
}

.cabeceraMenu {
  height: 25%;
}
.cabeceraMenu h2 {
  margin-bottom: 0rem;
  font-size: 1.4rem;
}

#menuReal {
  display: flex;
  flex-direction: column;
  height: auto;
  visibility: visible;
  display: block;
  width: 80%;
  background-color: #FAF4E6;
  border: 0.2rem solid #3d3a3a;
  border-radius: 0.4rem;
}
#menuReal ol {
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 1rem auto 1rem 1rem;
}
#menuReal ol li a {
  text-decoration: none;
  color: #1e1e1e;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

#dialogo, #dialogo-distribuidor, #dialogo-clientes, #dialogo-despedida {
  visibility: hidden;
  display: none;
  height: auto;
  width: 80%;
  background-color: #FAF4E6;
  border: 0.2rem solid #3d3a3a;
  border-radius: 0.4rem;
  position: relative;
  padding-left: 5rem;
  /* arriba | derecha | abajo | izquierda */
  padding: 2rem 1rem 0 1rem;
}

.personaje {
  position: absolute;
  height: 4rem;
  left: 0;
  bottom: 90%;
}

#dialogo.scale-up-center, #dialogo-distribuidor.scale-up-center, #dialogo-clientes.scale-up-center, #dialogo-despedida.scale-up-center {
  animation: scale-up-center 0.3s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
#inventario, #venderBebidas, #comprarInsumos {
  cursor: pointer;
}

.cabeceraPopup {
  position: relative;
}
.cabeceraPopup h2 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.cabeceraPopup button {
  position: absolute;
  right: 1rem;
  background: none;
  border: 0.15rem solid #3d3a3a;
  border-radius: 0.4rem;
  width: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/*Inventario*/
.grid-inventario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 4rem;
  gap: 0.6rem;
  margin: 1.5rem;
}

.container-producto {
  position: relative;
  border: 0.15rem solid #3d3a3a;
  border-radius: 0.4rem;
}

.producto {
  height: 70%;
  width: auto;
}

.contador {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
}
.contador p {
  margin-bottom: 0;
  font-weight: bold;
}

/*Distribuidor*/
.modo-distribuidor .contenido-principal {
  justify-content: end;
}
.modo-distribuidor #tienda-jugos {
  width: 95%;
}
.modo-distribuidor .cesped {
  width: 140%;
  height: 10rem;
  left: auto;
  right: 0;
}
.modo-distribuidor #arbolDos {
  left: auto !important;
  right: 0;
  bottom: 8rem;
  height: 20rem;
}
.modo-distribuidor .primeraSeccion {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1;
  margin-top: 1rem;
  gap: 2rem;
}
.modo-distribuidor #carrito {
  height: 2.6rem;
}
.modo-distribuidor #cantidad-carrito {
  right: 0;
  bottom: 0;
  background-color: #936549;
  color: #FAF4E6;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
}
.modo-distribuidor #cantidad-carrito p {
  margin-bottom: 0;
}
.modo-distribuidor .seccionDialogo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modo-distribuidor #dialogoDistribuidor {
  height: fit-content;
}
.modo-distribuidor .imagen-menu {
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.modo-distribuidor #segundaSeccion {
  transform: translate(-50%, -45%);
  padding: 0;
  max-height: 80vh;
  border-radius: 0.4rem;
}
.modo-distribuidor #segundaSeccion.carrito {
  transform: translate(-50%, -45%);
  padding: 0;
  min-height: 50%;
  border-radius: 0.4rem;
}
.modo-distribuidor .botonVerCatalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.modo-distribuidor #boton-catalogo {
  border: none;
  background-color: #8B4C27;
  color: #FAF4E6;
  width: 60%;
  padding: 0.7rem 0.3rem;
  border-radius: 2rem;
  text-align: center;
}
.modo-distribuidor .grid-distribuidor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 0.6rem;
  margin: 1rem;
}
.modo-distribuidor .container-producto-distribuidor {
  display: flex;
  align-items: center;
  position: relative;
  border: 0.12rem solid #3d3a3a;
  border-radius: 0.4rem;
}
.modo-distribuidor .container-producto-distribuidor img {
  height: 2rem;
  margin-left: 0.5rem;
}
.modo-distribuidor .container-producto-distribuidor {
  gap: 0.7rem;
}
.modo-distribuidor .nombre-descripcion-producto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* arriba | derecha | abajo | izquierda */
  padding: 0.5rem 0 0.5rem 0;
}
.modo-distribuidor .nombre-descripcion-producto p {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.modo-distribuidor .nombre-descripcion-producto a {
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: bold;
}
.modo-distribuidor .nombre-descripcion-producto a img {
  width: 0.6rem;
  height: auto;
  margin-left: 0;
}
.modo-distribuidor #boton-agregar-carrito {
  height: auto;
  /* arriba | derecha | abajo | izquierda */
  padding: 0 0.3rem 0 0.3rem;
  width: fit-content;
  background-color: #E79F5B;
  border: 0.1rem solid #8B4C27;
  border-radius: 0.1rem;
}
.modo-distribuidor .grid-carrito {
  flex: 1;
  overflow-y: auto;
  margin: 1rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}
.modo-distribuidor .container-producto-carrito {
  display: flex;
  justify-content: space-evenly;
  border: 0.15rem solid #3d3a3a;
  border-radius: 0.4rem;
  padding: 0.5rem 0rem;
}
.modo-distribuidor .container-producto-carrito img {
  width: 2rem;
  height: auto;
  margin-left: 0;
}
.modo-distribuidor .container-producto-carrito .producto-cantidad {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.modo-distribuidor .container-producto-carrito .producto-cantidad p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.modo-distribuidor .container-producto-carrito .producto-cantidad .btn-mas-menos {
  height: 1.6rem;
  width: 1.6rem;
  border: 0.1rem solid #3d3a3a;
  border-radius: 0.4rem;
}
.modo-distribuidor .container-total {
  display: flex;
  position: static;
  background-color: #FAF4E6;
  align-items: center;
  flex-direction: column;
  border-top: 0.1rem solid #3d3a3a;
  margin: 0 10%;
  margin-bottom: 1rem;
  flex-shrink: 0;
}
.modo-distribuidor .total {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.modo-distribuidor #boton-comprar {
  text-align: center;
  height: 2rem;
  width: 8rem;
  border: 0.1rem solid #8B4C27;
  border-radius: 0.4rem;
  background-color: #E79F5B;
}

body.modo-nocturno {
  background-color: #3C5D8B;
}
body.modo-nocturno #dinero-noche {
  color: #FAF4E6;
}
body.modo-nocturno .luna {
  padding-left: 20%;
}
body.modo-nocturno .luna img {
  width: 3.5rem;
}
body.modo-nocturno .contenedor-principal-ventas {
  gap: 2rem;
}

#tienda-jugos-venta, #tienda-jugos-venta.closed {
  width: 80%;
  height: fit-content;
  margin-bottom: 3rem;
}

.cesped.ventas-bebidas {
  bottom: 0;
  left: 0;
  height: 20%;
  width: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF4E6;
  font-family: "Chivo Mono", monospace;
  color: #1e1e1e;
}

@media (min-width: 376px) {
  #tienda-jugos {
    width: 80%;
  }
  #arbolDos {
    bottom: 10rem;
    height: 22rem;
    right: 8rem;
  }
}
@media (min-width: 413px) {
  #tienda-jugos {
    padding-bottom: 4rem;
  }
  #arbolDos {
    bottom: 10rem;
    height: 18rem;
    left: 0;
  }
  .modo-distribuidor #arbolDos {
    left: auto;
    right: 0;
    height: 30rem;
  }
  .modo-distribuidor #tienda-jugos {
    width: 80%;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #tienda-jugos {
    padding-bottom: 2rem;
    width: 55%;
  }
  #arbolDos {
    left: 0;
    bottom: 10rem;
    height: 20rem;
  }
  .cesped {
    width: 122%;
    height: 12rem;
  }
  #dias {
    font-size: 2rem;
  }
  .imagen-sol {
    height: 4rem;
  }
  #popup {
    width: 50%;
  }
  #dialogo {
    width: 70%;
  }
  .modo-distribuidor .cesped {
    width: 120%;
    height: 15rem;
  }
  .modo-distribuidor #arbolDos {
    left: auto;
    right: 0;
    bottom: 10rem;
    height: 30rem;
  }
  .modo-distribuidor #dialogo-distribuidor {
    width: 60%;
  }
  .modo-distribuidor #tienda-jugos {
    width: 70%;
  }
  #segundaSeccion, #segundaSeccion.carrito {
    width: 65%;
  }
  .grid-distribuidor {
    margin: 2rem;
  }
  #tienda-jugos-venta {
    width: 70%;
  }
  #tienda-jugos-venta.closed {
    width: 65%;
  }
  .cesped.ventas-bebidas {
    width: 100%;
    height: 20%;
  }
}
@media (min-width: 768px) {
  .audio {
    height: 2.7rem;
  }
  #menu h1 {
    font-size: 3rem;
  }
  #tienda-jugos {
    width: 60%;
    padding-bottom: 3rem;
  }
  #arbolDos {
    left: 0;
    bottom: 10rem;
    height: 20rem;
  }
  #menuReal, #dialogo {
    width: 50%;
  }
  .grid-inventario {
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
  }
  .modo-distribuidor #tienda-jugos {
    width: 80%;
  }
  .modo-distribuidor .cesped {
    width: 120%;
    height: 15rem;
  }
  .modo-distribuidor #arbolDos {
    left: auto;
    right: 0;
    bottom: 10rem;
    height: 30rem;
  }
  #segundaSeccion, #segundaSeccion.carrito {
    width: 50%;
    transform: translate(-50%, -70%);
  }
  #dialogo-despedida {
    width: 65%;
  }
  #tienda-jugos-venta, #tienda-jugos-venta.closed {
    width: 60%;
  }
  .cesped.ventas-bebidas {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .contenedor {
    height: auto;
  }
  .audio {
    height: 3.2rem;
    padding-left: 3rem;
  }
  .contenido-principal {
    flex-direction: row;
  }
  #dialogo {
    margin-bottom: 2rem;
  }
  .imagen-menu {
    justify-content: start;
  }
  #tienda-jugos {
    padding-bottom: 0rem;
    width: 90%;
  }
  #menu {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  #menu h1 {
    font-size: 4rem;
  }
  .limon-titulo {
    height: 3rem;
  }
  .boton-menu {
    padding: 0.7rem 4rem;
    border-radius: 0.7rem;
  }
  .cesped {
    height: auto;
    width: auto;
  }
  #popup {
    width: 40%;
  }
  .form-nombre button {
    width: 30%;
  }
  .grid-inventario {
    grid-auto-rows: 5rem;
  }
  .modo-distribuidor .primeraSeccion {
    margin-top: 0;
    gap: 1rem;
    width: 50%;
  }
  .modo-distribuidor #tienda-jugos {
    width: 60%;
  }
  .modo-distribuidor #segundaSeccion, .modo-distribuidor #segundaSeccion.carrito {
    transform: translate(-25%, 0%);
    width: 35%;
    position: static;
    max-height: 55vh;
  }
  .modo-distribuidor .nombre-descripcion-producto a {
    font-size: 0.7rem;
  }
  .modo-distribuidor .nombre-descripcion-producto a img {
    width: 1rem;
  }
  #segundaSeccion.carrito .grid-carrito {
    margin: 1rem 10%;
  }
  .contenedor-principal-ventas {
    margin-bottom: -2rem;
  }
  #tienda-jugos-venta {
    width: 50%;
    margin-bottom: 0rem;
  }
  #tienda-jugos-venta.closed {
    width: 50%;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1200px) {
  body.modo-nocturno .luna {
    padding-left: 15%;
    margin-bottom: -2rem;
    margin-top: -2rem;
  }
  body.modo-nocturno .luna img {
    width: 5rem;
  }
  #dialogo-despedida {
    width: 50%;
  }
  #tienda-jugos-venta {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  #tienda-jugos {
    width: 70%;
  }
  .arbolUno {
    height: 65%;
  }
  .modo-distribuidor .grid-distribuidor {
    margin: 1rem 4rem;
  }
  #segundaSeccion.carrito .grid-carrito {
    margin: 1rem 12%;
  }
  #segundaSeccion.carrito .container-total {
    margin: 0 15%;
    margin-bottom: 1rem;
  }
}
@media (orientation: landscape) and (max-height: 527px) {
  .contenedor {
    height: auto;
    min-height: 97vh;
  }
  .cabecera {
    height: 2rem;
  }
  .contenido-principal {
    flex-direction: row;
  }
  #menu {
    justify-content: start;
    padding-top: 3rem;
  }
  #menu h1 {
    font-size: 2.5rem;
  }
  .imagen-menu {
    align-items: end;
  }
  #tienda-jugos {
    width: 85%;
    height: auto;
    padding-bottom: 0.1rem;
  }
  .botones {
    margin-top: 0.4rem;
  }
  .boton-menu {
    margin: 0.2rem;
    padding: 0.15rem 1.2rem;
    font-size: 0.85rem;
  }
  #arbolDos {
    bottom: 3.5rem;
  }
  .cesped {
    height: 6rem;
    width: 110%;
  }
  .border-top {
    --bs-border-width: 0rem;
    --bs-border-color:none;
  }
  .p-5 {
    padding: 0rem !important;
  }
}

/*# sourceMappingURL=styles.css.map */
