@use './utilities/variables';
/*@use './utilities/extends';
@use './utilities/mixins';
@use './layout/header';
@use './layout/secciones';*/
@use './layout/main.scss';
//@use './layout/footer';

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: variables.$color-base;
    font-family: "Chivo Mono", monospace;
    color: variables.$color-texto;
}


@media (min-width: 376px) {
    #tienda-jugos{
       width: 80%;
    }

    #arbolDos{
        bottom: 10rem;
        height: 22rem;
        right: 8rem;
    }

}


@media (min-width: 413px){
    #tienda-jugos{
       padding-bottom: 4rem;
    }
   
      #arbolDos{
        bottom: 10rem;
        height: 18rem;
        left: 0;
    }
    .modo-distribuidor {
         #arbolDos {
            left: auto;
            right: 0;
            height: 30rem;
        }
        #tienda-jugos {
        width: 80%;
        }
       
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #tienda-jugos{
       padding-bottom: 2rem;
       width: 55%;
   }
    #arbolDos{
        left: 0;
        bottom: 10rem;
        height: 20rem;
    }
    .cesped{
        width: 122%;
        height: 12rem;
    }
    #dias{
        font-size: 2rem;
    }
    .imagen-sol{
    height: 4rem;
    }
    #popup{
        width: 50%;
    }
    #dialogo{
        width: 70%;
    }
     .modo-distribuidor {
        .cesped {
             width: 120%;
             height: 15rem;

        }
        #arbolDos {
            left: auto;
            right: 0;
            bottom: 10rem;
            height: 30rem;
        }
        #dialogo-distribuidor{
            width: 60%;
        }
        #tienda-jugos {
        width: 70%;
        }
        
    }
    #segundaSeccion, #segundaSeccion.carrito{
        width: 65%;
    }
    .grid-distribuidor{
    margin: 2rem;
    }
    #tienda-jugos-venta{
        width: 70%;
    }
    #tienda-jugos-venta.closed{
            width: 65%;
    }
    .cesped.ventas-bebidas{
    width: 100%;
    height: 20%;
    }
} 



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .audio{
    height: 2.7rem;
    }
    #menu{
        h1{
            font-size: 3rem;
        }
    }
    #tienda-jugos{
        width: 60%;
       padding-bottom: 3rem;
    }
     #arbolDos{
        left: 0;
        bottom: 10rem;
        height: 20rem;
    }
    #menuReal, #dialogo{
        width: 50%;
    }

    .grid-inventario{
        grid-template-columns: repeat(4, 1fr);
        margin: 2rem;
    }
    .modo-distribuidor {
        #tienda-jugos {
        width: 80%;
        }
        .cesped {
             width: 120%;
             height: 15rem;

        }
         #arbolDos {
            left: auto;
            right: 0;
            bottom: 10rem;
            height: 30rem;
        }
        
    }
     #segundaSeccion, #segundaSeccion.carrito{
        width: 50%;
        transform: translate(-50%, -70%);
    }
    #dialogo-despedida{
            width: 65%;
    }
     #tienda-jugos-venta, #tienda-jugos-venta.closed{
        width: 60%;
    }
    .cesped.ventas-bebidas{
    width: 100%;
    height: auto;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contenedor{
        height: auto;
    }
    .audio{
    height: 3.2rem;
    padding-left: 3rem;
    }
    .contenido-principal {
        flex-direction: row; // menu e imagen quedan lado a lado
    }
    #dialogo{
        margin-bottom: 2rem;
    }
    .imagen-menu{
        justify-content: start;
    }
   #tienda-jugos{
            padding-bottom: 0rem;
            width: 90%;
        }
    #menu{
        flex: 1;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 4rem;
        }
    }
    .limon-titulo{
    height: 3rem
    }
    .boton-menu{
    padding: .7rem 4rem;
    border-radius: .7rem;
    }
    .cesped{
        height: auto;
        width: auto;
    }
    #popup{
        width: 40%;
    }
    .form-nombre{
    button{
        width: 30%;
    }
    }
    .grid-inventario{
        grid-auto-rows: 5rem;
    }
    .modo-distribuidor{
        .primeraSeccion{
        margin-top: 0;
        gap: 1rem;
        width: 50%;
     }
     #tienda-jugos{
        width: 60%;
     }
     #segundaSeccion, #segundaSeccion.carrito{
        transform: translate(-25%, 0%);
        width: 35%;
        position: static;
        max-height: 55vh;
    }
    .nombre-descripcion-producto{
    a{
        font-size: .7rem;
        img{
            width: 1rem;
        }
    }
}
    }
    #segundaSeccion.carrito{
         .grid-carrito{
        margin: 1rem 10%;
        }
    }
    .contenedor-principal-ventas{
        margin-bottom: -2rem;
    }
    #tienda-jugos-venta{
        width: 50%;
        margin-bottom: 0rem;
    }
    #tienda-jugos-venta.closed{
        width: 50%;
        margin-bottom: 0rem;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body.modo-nocturno {
    .luna{
        padding-left: 15%;
        margin-bottom: -2rem;
        margin-top: -2rem;
        img{
            width: 5rem;
        }
        
    }
    }
     #dialogo-despedida{
            width: 50%;
    }
     #tienda-jugos-venta{
        width: 40%;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    #tienda-jugos {
        width: 70%;
    }
 .arbolUno{
    height: 65%;
 }
 .modo-distribuidor{
    .grid-distribuidor{
    margin: 1rem 4rem;
 }
 }
 
     #segundaSeccion.carrito{
         .grid-carrito{
        margin: 1rem 12%;
        }
        .container-total{
                margin: 0 15%;
                margin-bottom: 1rem;
        }
    }
}

@media (orientation: landscape) and (max-height: 527px) { //landscape Compara el ancho vs el alto de la pantalla. Si el ancho es mayor que el alto → landscape. Si el alto es mayor que el ancho → portrait

    .contenedor {
        height: auto;
        min-height: 97vh;
    }
    .cabecera{
        height: 2rem;
    }
    .contenido-principal {
        flex-direction: row;
    }

    #menu {
        justify-content: start;
        padding-top: 3rem;
        h1 {
            font-size: 2.5rem;
        }
    }

    .imagen-menu {
        align-items: end;
    }
   #tienda-jugos {
            width: 85%;
            height: auto;
            padding-bottom: .1rem;
        }

    .botones {
        margin-top: .4rem;
    }

    .boton-menu {
        margin: .2rem;
        padding: 0.15rem 1.2rem;
        font-size: .85rem;
    }

    #arbolDos {

        bottom: 3.5rem;
    }

    .cesped {
        height: 6rem;
        width: 110%;
    }
    .border-top{
        --bs-border-width: 0rem;
        --bs-border-color:none;
    }
    .p-5 {
        padding: 0rem !important;
    }
}