$color-base: #FAF4E6;
$color-celeste : #B0C6E4;
$color-azul: #3C5D8B;
$color-verde: #849F64;
$color-marron-claro: #E79F5B;
$color-marron-oscuro: #8B4C27;
$color-marron-carrito: #936549;
$color-negro: #3d3a3a;
$color-texto: #1e1e1e;