@use '../utilities/variables.scss';
@use '../utilities/extends';

/*MAIN - INDEX*/
main{
    display: flex;
    flex-direction: column;
    height: auto;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    margin: .50rem;
    border: .2rem solid variables.$color-negro;
    border-radius: .70rem;
    position: relative;
    z-index: 3;
    overflow: hidden;
    gap: 2rem;
}
.cabecera{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    gap: .50rem;
    height: 3rem;
    border-bottom: .2rem solid variables.$color-negro;
}
.circulo{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    border: .2rem solid variables.$color-negro;
}
.container-audio{
    display: flex;
    align-items: center;
}
#audio{
    height: 2.2rem;
    padding-left: 2rem;
}
.contenido-principal {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#menu, #menu-home{
    flex:1;
    @extend %flexCenter;
    flex-direction: column;
    h1{
        font-family: "Jersey 10", sans-serif; 
        font-size: 2.5rem;
    }
}

.limon-titulo{
    height: 2rem
}
.botones{
    @extend %flexCenter;
    flex-direction: column;
    margin-top: 1rem;
}
.boton-menu{
    font-family: "Chivo Mono", monospace;
    background-color: variables.$color-base;
    text-decoration: none;
    color: variables.$color-texto;
    margin: .50rem;
    padding: 0.3rem 2rem;
    border: .1rem solid variables.$color-negro;
    border-radius: 3rem;
}
.imagen-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}
.tienda-jugos{
       width: 80%;
       height: fit-content;
       padding-bottom: 3rem;
}
.arbolUno{
    height: 55%;
    width: auto;
    padding-left: 31%;
}

.cielo, .cesped {
    position: fixed; // Fixed se pega a la ventana, no al contenido
    z-index: 1;
}
#arbolDos{
    z-index: 2;
    position: fixed;
    bottom: 10rem;
    height: 18rem;
    right: 9rem;
}
.cielo {
    top: 0;
    right: 0;
}

.cesped {
    bottom: 0;
    left: 0;
    width: 132%;
    height: 13rem;
}
.border-top, .border-bottom{
    --bs-border-width: .2rem;
    --bs-border-color: #3d3a3a;
}
/*MAIN - Dia*/
.contenedor-principal-dias{
    @extend %flexCenter;
    flex: 1;
}
.imagen-sol{
    height: 3rem;
}
/*Home*/
#popup{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$color-base;
    width: 80%;
    padding: 2rem;
    border: .2rem solid variables.$color-negro;
    border-radius: 1rem;
    z-index: 4;
    visibility: visible;
}
#popup.desactive{
    visibility: hidden;
} 
.personaje-popup{
    height: 6rem;
    left: 0;
    position: absolute;
    bottom: 12rem;
}
.bru{
    visibility: visible;
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.form-nombre{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    input{
        background-color: transparent;
        border: none;
        border-bottom:  .2rem solid variables.$color-negro ;
    }
    button{
        border: none;
        background-color: variables.$color-marron-oscuro;
        color: variables.$color-base;
        width: 60%;
        padding: .7rem .3rem;
        border-radius: 2rem;
    }
}
.container-moneda{
    padding-right: 1rem;
    p{
        margin-bottom: 0rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
#moneda{
    height: 2.2rem;
}
#menu-home{
    gap: 4rem;
}
.cabeceraMenu{
    height: 25%;
    h2{
        margin-bottom: 0rem;
        font-size: 1.4rem;
    }
}
#menuReal{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    background-color: variables.$color-base;
    border: .2rem solid variables.$color-negro;
    border-radius: .4rem;
    ol{
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 1rem auto 1rem 1rem;
        li{
            a{
                text-decoration: none;
                color: variables.$color-texto;
            }
        }
    }
}

#dialogo{
    visibility: hidden;
    display: none;
    height: auto;
    width: 80%;
    background-color: variables.$color-base;
    border: .2rem solid variables.$color-negro;
    border-radius: .4rem;
    position: relative;
    padding-left: 5rem;
    /* arriba | derecha | abajo | izquierda */
    padding: 2rem 1rem 0 1rem;
}
.personaje{
    position: absolute;
    height: 4rem;
    left: 0;
    bottom: 90%;
}

#dialogo.scale-up-center{
    animation:scale-up-center 0.3s; 
} 
@keyframes scale-up-center{ 
    0%{
        transform:scale(.5)
    } 
    100%{
        transform:scale(1)
    } 
}
#inventario{
    cursor: pointer;
}
.cabeceraInventario{
    position: relative;
    h2{
        margin-top: .5rem;
        font-size: 1.2rem;
    }
    button{
        position: absolute;
        right: 1rem;
        background: none;
        border:  .15rem solid variables.$color-negro;
        border-radius: .4rem;
        width: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
}
/*Inventario*/
.grid-inventario{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    gap: .6rem;
    margin: 1.5rem;
}
.container-producto{
    @extend %flexCenter;
    position: relative;
    border: .15rem solid variables.$color-negro;
    border-radius: .4rem;
}
.producto{
    height: 70%;
    width: auto;
}
.contador{
    @extend %flexCenter;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    p{
     margin-bottom: 0;
     font-weight: bold;
    }
}